.logo{
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

h1{
    margin: 0;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 200;
}

icon-logout{
    display: inline-block;
    width: 20px;
    svg {
        fill: white;
    }
    &:hover{
        cursor: pointer;
        svg{
            fill: yellow;
        }
    }
}