.car-selector{
    border: 1px solid $blue-dark;
    border-radius: $brd-rad;
    padding: 10px;
    drop-down{
        display: block;
        margin-bottom: 20px;
    }
    &.hoc{
        display: block;
        max-width: 500px;
        margin: 20px auto;
    }
}