$blue-dark: #213267;
$blue-dark-op: rgba(33, 50, 103, 0.9);
$blue-gray: #b4b2bf;
$gray-1: #eee;
$gray-2: #d8d8d8;
$gray-3: #ccc;
$gray-4: #999;

$error: #FB4F4F;
$error: #e34e19;
$error-dark: #b02c00;

//
$brd-rad: 3px;
