.error-display{
    position: relative;
    background-color: $error;
    color: white;
    padding: 10px 10px 15px 30px;
    margin: 20px 0 10px 0;
    border: 1px solid $error-dark;
    border-radius: $brd-rad;
    i.icon-error {
        position: absolute;
        top: 10px;
        left: 5px;
    }
}
i.icon-error{
    display: inline-block;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    &:after{
        content: '!';
        font-size: 18px;
        color: $error;
    }
}

.error-message{
    color: $error;
    margin: 5px 0 10px 0;
}