label{
    display: block;
    margin-bottom: 10px;
    span{
        display: block;
        margin-bottom: 5px;
    }
    input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid $gray-2;
    }
}

button{
    border: 1px solid #058cd4;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #058cd4;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}