.loader{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: auto;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 24px;
        color: $blue-dark;
        animation: grow 900ms infinite linear;

        &:nth-child(1){
            animation-delay: 0ms;
        }
        &:nth-child(2){
            animation-delay: 300ms;
        }
        &:nth-child(1){
            animation-delay: 600ms;
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}