.login-page{
    height: 100%;
    .login-bg{
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        height: auto;
        background: url(static/canyon.jpg) no-repeat center center fixed;
        background-size: cover;
        z-index: 1;
        opacity: .7;
        //filter: blur(5px);
    }
    .login-widget{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        max-width: 350px;
        padding: 40px 40px 80px;
        margin: 100px auto;
        background-color: $blue-dark-op;
        border-radius: 3px;
        h1{
            margin: 20px auto;
        }
        label span{
            color: $blue-gray;
        }
        button{
            width: 150px;
        }
    }
}